<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главное меню</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <ul class="mainmenu">
        <li><a href="/">Главная</a></li>
        <li><a href="/logout">Выйти</a></li>
        <li class="last"><a href="/generate">Сгенерировать пароль</a></li>
    </ul>
    <ul>
    {% for password in current_user.passwords %}  <!-- Предполагается, что у вас есть связь между User и Password -->
    <li>
        {{ password.name }}:
        <a href="{{ url_for('manage_password', password_id=password.id) }}">Управлять</a>
    </li>
    {% endfor %}
</ul>
    <div class="container">
        <h1>Главное меню</h1>
        <p>Добро пожаловать, {{ current_user.username }}!</p>
        <p>Вы можете генерировать, хранить и управлять своими паролями.</p>
        <a href="/generate">Сгенерировать новый пароль</a>
        <a href="{{ url_for('manage_password', password_id=1) }}">Управлять паролями</a>  <!-- Исправленная ссылка -->
    </div>
</body>
</html>